<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ivan Mata</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="contenedor">
    <h1 id="nombre">Iván Mata</h1>
    <div id="rol_container">
      <h2 id="rol">Programador</h2>
    </div>
    <div id="foto_container">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV-1phLXz3CsaHxAWOlr7hDCwWUI7VfEBl0ehnADxGOg&s"
        alt="handsome smiley man"
      />
    </div>
  </div>

  <h1 style="text-align: center">Habilidades en Java</h1>

  <div id="cards">
    <ion-card id="java">
      <img alt="java" src="https://haviktec.com/images/java.png" />
      <ion-card-content>
        <ion-card-title>Java</ion-card-title>
        <p>
          Desarrollo en Java 8 con todos los conceptos de la Programación
          Orientada a Objetos
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card id="frameworks_java">
      <img alt="frameworks_java" src="https://haviktec.com/images/java.png" />
      <ion-card-content>
        <ion-card-title>Frameworks Java</ion-card-title>
        <p>Manejo de los marcos de trabajo más importantes en Java</p>
      </ion-card-content>
      <ion-button fill="clear">JPA</ion-button>
      <ion-button fill="clear">Spring</ion-button>
    </ion-card>
  </div>
</ion-content>
