<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Tecnologias mas importantes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Porfolio de Mario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="ion-text-center">
      <h1 style="font-size: 72px">Ivan Mata</h1>
    </div>
    <ion-grid class="grid-tecnologias">
      <ion-row>
        <ion-col>
          <ion-card>
            <div class="img-tecnologias-container">
              <ion-img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png"
                class="img-tecnologias"
              ></ion-img>
            </div>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Python</ion-card-title>
            </ion-card-header>
            <ion-button expand="full">Ver proyectos</ion-button>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <div class="img-tecnologias-container">
              <ion-img
                src="https://assets.stickpng.com/images/58480979cef1014c0b5e4901.png"
                class="img-tecnologias"
              ></ion-img>
            </div>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Java</ion-card-title>
            </ion-card-header>
            <ion-button expand="full">Ver proyectos</ion-button>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <div class="img-tecnologias-container">
              <ion-img
                src="https://static-00.iconduck.com/assets.00/sql-database-generic-icon-1521x2048-d0vdpxpg.png"
                class="img-tecnologias"
              ></ion-img>
            </div>
            <ion-card-header>
              <ion-card-title class="ion-text-center">SQL</ion-card-title>
            </ion-card-header>
            <ion-button expand="full">Ver proyectos</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <div class="img-tecnologias-container">
              <ion-img
                src="https://seeklogo.com/images/C/c-sharp-c-logo-02F17714BA-seeklogo.com.png"
                class="img-tecnologias"
              ></ion-img>
            </div>
            <ion-card-header>
              <ion-card-title class="ion-text-center">C#</ion-card-title>
            </ion-card-header>
            <ion-button expand="full">Ver proyectos</ion-button>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <div class="img-tecnologias-container">
              <ion-img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/C_Programming_Language.svg/1200px-C_Programming_Language.svg.png"
                class="img-tecnologias"
              ></ion-img>
            </div>
            <ion-card-header>
              <ion-card-title class="ion-text-center">C</ion-card-title>
            </ion-card-header>
            <ion-button expand="full">Ver proyectos</ion-button>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <div class="img-tecnologias-container">
              <ion-img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Lua-Logo.svg/600px-Lua-Logo.svg.png?20150107024942"
                class="img-tecnologias"
              ></ion-img>
            </div>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Lua</ion-card-title>
            </ion-card-header>
            <ion-button expand="block">Ver proyectos</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="ion-text-center">
      <h3 class="texto-central">
        Soy un apasionado de la informática y estoy encantado de mostrarte mi
        trabajo y proyectos en este espacio. A lo largo de los años, he
        adquirido conocimientos y habilidades en diversas áreas de la
        informática, y este portfolio es un reflejo de mi experiencia y
        dedicación.
      </h3>
      <h3 class="texto-central">
        Mi enfoque principal se encuentra en el desarrollo de software, donde he
        trabajado en proyectos de desarrollo web, aplicaciones móviles y
        soluciones empresariales. Me especializo en lenguajes de programación
        como Python, Java y C#, y estoy familiarizado con frameworks y
        tecnologías modernas como Django, Spring, React y Angular.
      </h3>
      <h3 class="texto-central">
        Además del desarrollo de software, también tengo experiencia en bases de
        datos, diseño de sistemas, análisis de datos y seguridad informática. He
        trabajado en la implementación y administración de bases de datos SQL y
        NoSQL, así como en la creación de soluciones de análisis de datos para
        ayudar a las empresas a tomar decisiones informadas.
      </h3>
    </div>
    <h1 class="ion-text-center">Mis redes sociales</h1>
    <ion-grid class="grid-redes-sociales">
      <ion-row>
        <ion-col class="ion-text-right">
          <ion-fab>
            <ion-fab-button>
              <ion-icon name="logo-instagram"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-fab>
            <ion-fab-button>
              <ion-icon name="logo-linkedin"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
        <ion-col class="tion-text-left">
          <ion-fab>
            <ion-fab-button>
              <ion-icon name="logo-github"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>

<script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
