<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row class="ion-text-center" id="contenedor_cabecera">
      <ion-col>
        <p id="titulo_home">Portfolio Personal</p>
        <div id="nombres">
          <p id="nombre">Iván Mata</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-text-center" id="row_texto">
      <ion-col />
      <ion-col class="ion-text-center" id="columna_izquierda">
        <p>
          Soy Ivan Mata. Estudio Desarrollo de Aplicaciones Multiplataforma en
          el instituto CampusFP en la ciudad Madrileña de Getafe.
        </p>
        <ion-button expand="full" id="boton">Más sobre mí</ion-button>
      </ion-col>
      <ion-col />
    </ion-row>
  </ion-grid>
</ion-content>
