<ion-content id="contenedor">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" id="hola">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row id="contenedor_cabecera" class="ion-text-center">
      <ion-col>
        <p id="titulo_portfolio">Intereses</p>
      </ion-col>
      <ion-col> </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid id="contenedor_interes">
    <ion-row class="ion-text-center">
      <ion-col> </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card id="card_interes">
          <ion-card-header>
            <ion-card-title id="titulo_card_interes"
              >Creacion de proyectos</ion-card-title
            >
          </ion-card-header>
          <ion-card-content id="contenido_card_interes">
            Me encanta realizar proyectos personales para encontrar soluciones a
            retos personales
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card id="card_interes">
          <ion-card-header>
            <ion-card-title id="titulo_card_interes"
              >Nuevas Tecnologias</ion-card-title
            >
          </ion-card-header>
          <ion-card-content id="contenido_card_interes">
            Mediante el continuo estudia de nuevas tecnologias puedo recurrir a
            nuevos metodos para afrontar desafios
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card id="card_interes">
          <ion-card-header>
            <ion-card-title id="titulo_card_interes">IoT</ion-card-title>
          </ion-card-header>
          <ion-card-content id="contenido_card_interes">
            Adoro la implementacion de la programacion en objetos cotidianos de
            hoy en dia por lo que me encanta aprender cada dia mas sobre su
            implementacion
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
